<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="com.echo.ios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="com.echo.ios.Properties.Settings.GbmcDBConnectionString" connectionString="data source=&quot;.\GbmcDB.sqlite&quot;;default timeout=3000;cache size=20000" providerName="System.Data.SQLite"/>
        <add name="com.echo.ios.Properties.Settings.yngbdb1ConnectionString" connectionString="Data Source=gbrm.km.yn;Initial Catalog=yngbdb1;User ID=sa;Password=yngbhyt" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <com.echo.ios.Properties.Settings>
            <setting name="STR_TITLE" serializeAs="String">
                <value>电子名册离线数据生成工具 for RM</value>
            </setting>
            <setting name="STR_CHECKSQL" serializeAs="String">
                <value>SQL服务器检测...</value>
            </setting>
            <setting name="STR_CHECKSQLITE" serializeAs="String">
                <value>客户端检测....</value>
            </setting>
            <setting name="STR_EXPORT" serializeAs="String">
                <value>同步数据(&amp;S)</value>
            </setting>
            <setting name="STR_EXIT" serializeAs="String">
                <value>退出(&amp;X)</value>
            </setting>
            <setting name="STR_CHKSQLOK" serializeAs="String">
                <value>SQL服务器正常连接，地址：gbrm.km.yn 数据库：yngbdb1</value>
            </setting>
            <setting name="STR_CHKSQLERROR" serializeAs="String">
                <value>SQL服务器连接失败，请检查网络设置和服务器</value>
            </setting>
            <setting name="STR_CHKSQLITEOK" serializeAs="String">
                <value>Sqlite数据库正常连接</value>
            </setting>
            <setting name="STR_CHKSQLITEERROR" serializeAs="String">
                <value>Sqlite数据库连接失败，请检查数据库文件</value>
            </setting>
            <setting name="STR_SYNC_UNIT" serializeAs="String">
                <value>正在同步单位树表</value>
            </setting>
            <setting name="STR_SYNC_GBMC" serializeAs="String">
                <value>正在同步领导干部表</value>
            </setting>
            <setting name="STR_SYNC_RELATE" serializeAs="String">
                <value>正在同步亲属关系表</value>
            </setting>
            <setting name="STR_SYNC_OVER" serializeAs="String">
                <value>同步数据完成</value>
            </setting>
            <setting name="STR_SYNC_PROCESS" serializeAs="String">
                <value>正在同步 {0} ，第 {1} 条记录，共 {2} 条记录</value>
            </setting>
            <setting name="STR_SYNC_OK" serializeAs="String">
                <value>"数据成功同步"</value>
            </setting>
            <setting name="STR_DB_FILE" serializeAs="String">
                <value>GbmcDB.sqlite</value>
            </setting>
        </com.echo.ios.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
